* {
  padding: 0;
  margin: 0;
}
:root {
  --orange: rgb(241, 87, 67);
  --white: #faf0e6;
  --fontcolor: #3D3D3D;
}

body {
  font-family: 'Work Sans', sans-serif;
	color: #3D3D3D;
	font-weight: 300;
  background-color: #f8f8f8fa;
	/* background: -webkit-linear-gradient( #f1f0f0, #f1f0f0); gradient color for the all backgrounds */
}
#loading {
  width: fit-content;
  position: absolute;
  z-index: 1;
  right: 45%;
  top: 30%;
  font-size: 10em;
  color: rgba(27, 141, 255, 0.966)
}
.container {
  padding: 3% 5%;
}

.modal {
  display: none;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(206, 205, 205, 0.582);
}
.formwrap {
  width: 40%;
  margin: 20vh auto;
  background: -webkit-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA);
  background: -moz-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA);
  background-color: #F7F7F7;
  box-sizing: border-box;
  padding: 25px 30px;

}
h1 {
  text-align: center;
}
h3 {
  padding: 0 0 3px 0;
}
span {
  color: var(--orange);
}
form {
  width: fit-content;
  margin: 0 auto;
  width: 60%;
  margin: 0 auto;
  padding: 17px 20px;
}
.closebtn {
  width: fit-content;
  position: absolute;
  top: 18vh;
  right: 29vw;
}
.closebtn:hover {
  cursor: pointer;
}
.bar {
  width: 40px;
  height: 5px;
  margin: 6px 0;
  background-color: #3D3D3D; 
}
#findertext {
  color:rgba(27, 141, 255, 0.966)
}
#one {
  transform: rotate(-45deg) translate(-9px, 6px);
}
#two {
  transform: rotate(45deg);
}
input {
  padding: 9px 8px;
  width: 100%;
  margin: 3px 0;
  display: inline-block;
  box-sizing: border-box;
  border: .5px solid #a8a8a8;
  background-color: transparent;
}
button {
  width: 100%;
  padding: 10px 5px;
  margin-top: 3px;
  border: none;
  background-color: var(--orange);
  color: rgba(247, 247, 247, 0.925);
}
button:hover{
  background-color: #a8a8a8;
  cursor: pointer;
}
.content {

}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#search {
  width: fit-content;
  padding: 5px 30px;
  text-align: center;
  font-weight: 600;

}
#search-icon {
  font-size: 3em;
}
#search:hover {
  cursor: pointer;
}
#locations {
  color: var(--orange)
}
#city {
  font-size: 2.5em;
  font-weight: 500;
}
#tuggle {
  width: 10%;
  text-align: center;
  padding: 8px 30px;
  background-color: rgba(27, 141, 255, 0.966);
  border-radius: 3px;
  color: white;
}
#tuggle:hover {
  cursor: pointer;
}
.current-temp-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

}
#temperature {
  width: fit-content;
  font-size: 12em;
  font-weight: 500;
}
.min-max {
  width: fit-content;
  font-weight: 400;

}
#image {
  width: fit-content;
}
.description {
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}
.hourly-forcast {

}